In [2]:
# Import Dependencies
import pandas as pd

In [3]:
hawaii_flights_2019 = "2019_Q1_T_DB1B_MARKET.csv"

In [4]:
hawaii_flights_2019_df = pd.read_csv(hawaii_flights_2019)

hawaii_flights_2019_df.head(5)

,ITIN_ID,MKT_ID,YEAR,QUARTER,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,...,DEST_CITY_MARKET_ID,DEST,DEST_STATE_ABR,DEST_STATE_NM,TK_CARRIER_GROUP,OP_CARRIER_GROUP,REPORTING_CARRIER,OPERATING_CARRIER,PASSENGERS,MARKET_FARE
0,20191204,2019120401,2019,1,10135,1013505,30135,ABE,PA,Pennsylvania,...,32134,HNL,HI,Hawaii,DL:DL,9E:DL,9E,99,1.0,949.23
1,20191204,2019120403,2019,1,12173,1217305,32134,HNL,HI,Hawaii,...,30397,ATL,GA,Georgia,DL,DL,9E,DL,1.0,822.77
2,20191705,2019170501,2019,1,10185,1018502,30185,AEX,LA,Louisiana,...,32134,HNL,HI,Hawaii,DL:DL,9E:DL,9E,99,1.0,1195.00
3,20191706,2019170604,2019,1,12982,1298202,32982,LIH,HI,Hawaii,...,30185,AEX,LA,Louisiana,DL:DL:DL,DL:DL:9E,9E,99,1.0,733.96
4,20191706,2019170601,2019,1,10185,1018502,30185,AEX,LA,Louisiana,...,32982,LIH,HI,Hawaii,DL:DL:DL,9E:DL:HA,9E,99,1.0,740.04

In [5]:
hawaii_flights_2019_df

,ITIN_ID,MKT_ID,YEAR,QUARTER,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,...,DEST_CITY_MARKET_ID,DEST,DEST_STATE_ABR,DEST_STATE_NM,TK_CARRIER_GROUP,OP_CARRIER_GROUP,REPORTING_CARRIER,OPERATING_CARRIER,PASSENGERS,MARKET_FARE
0,20191204,2019120401,2019,1,10135,1013505,30135,ABE,PA,Pennsylvania,...,32134,HNL,HI,Hawaii,DL:DL,9E:DL,9E,99,1.0,949.23
1,20191204,2019120403,2019,1,12173,1217305,32134,HNL,HI,Hawaii,...,30397,ATL,GA,Georgia,DL,DL,9E,DL,1.0,822.77
2,20191705,2019170501,2019,1,10185,1018502,30185,AEX,LA,Louisiana,...,32134,HNL,HI,Hawaii,DL:DL,9E:DL,9E,99,1.0,1195.00
3,20191706,2019170604,2019,1,12982,1298202,32982,LIH,HI,Hawaii,...,30185,AEX,LA,Louisiana,DL:DL:DL,DL:DL:9E,9E,99,1.0,733.96
4,20191706,2019170601,2019,1,10185,1018502,30185,AEX,LA,Louisiana,...,32982,LIH,HI,Hawaii,DL:DL:DL,9E:DL:HA,9E,99,1.0,740.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235866,201915258032,20191525803203,2019,1,12173,1217305,32134,HNL,HI,Hawaii,...,31834,XNA,AR,Arkansas,UA:UA,UA:YV,YX,99,1.0,491.56
235867,201915258063,20191525806301,2019,1,15919,1591904,31834,XNA,AR,Arkansas,...,33830,OGG,HI,Hawaii,UA:UA,YX:UA,YX,99,1.0,524.00
235868,201915258063,20191525806303,2019,1,13830,1383002,33830,OGG,HI,Hawaii,...,31834,XNA,AR,Arkansas,UA:UA,UA:AX,YX,99,1.0,524.00
235869,201915258083,20191525808301,2019,1,15919,1591904,31834,XNA,AR,Arkansas,...,32134,HNL,HI,Hawaii,UA:UA:UA,YX:UA:UA,YX,99,1.0,348.00
235870,201915258083,20191525808304,2019,1,12173,1217305,32134,HNL,HI,Hawaii,...,31834,XNA,AR,Arkansas,UA:UA:UA,UA:UA:ZW,YX,99,1.0,348.00

In [6]:
hawaii_flights_2019_df.columns

Index(['ITIN_ID', 'MKT_ID', 'YEAR', 'QUARTER', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN',
       'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 'DEST_AIRPORT_ID',
       'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'DEST_STATE_ABR',
       'DEST_STATE_NM', 'TK_CARRIER_GROUP', 'OP_CARRIER_GROUP',
       'REPORTING_CARRIER', 'OPERATING_CARRIER', 'PASSENGERS', 'MARKET_FARE'],
      dtype='object')